.StripeElement, #mt-payment-form .stripe input {
	padding: 10px;
	border: 1px solid #777;
	margin: .25em 0 1em;
	border-radius: 5px;
	width: calc( 100% - 20px );
}

.StripeElement--focus {
	border: 1px solid #111;
	background: #f6f6f6;
	color: #000;
}

.SelectListItem {
	padding: 4px;
}

.SelectListItem--selected {
	background: rgba( 0,0,0,.05 );
}

#mt-payment-form .stripe label {
	display: block;
}

.mt-stripe-errors, #bank-name {
	display: none;
}

.mt-stripe-errors.visible, #bank-name.visible {
	border: 2px solid;
	padding: .75em;
	border-radius: 5px;
	margin: .5em 0;
	background: #f6f6f6;
	color: #000;
	font-weight: 600;
	display: block;
}

#bank-name.visible {
	border: none;
	color: inherit;
	background: inherit;
}